GTS.Clock.Business/Service References/GTSEngineWS/TotalWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pahlevani-pc.ghadir.local/AtlasTAWebService/TotalWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GTS_ExecuteByPersonID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecuteByPersonIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecuteByPersonIdAndToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonId" type="xs:decimal" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecuteByPersonIdAndToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_ExecuteByPersonIdAndToDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecuteAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecuteAllByToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecutePersonsByToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Persons" nillable="true" type="q1:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecutePersonsByToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_ExecutePersonsByToDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecutePersonsByToDateGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operationGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_ExecutePersonsByToDateGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_ExecutePersonsByToDateGUIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_GETTotalExecuting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_GETTotalExecutingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_GETTotalExecutingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_GETRemainExecuting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_GETRemainExecutingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_GETRemainExecutingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_GETTotalErrorExecuting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallerIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_GETTotalErrorExecutingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_GETTotalErrorExecutingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_LockCalculation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_LockCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_LockCalculationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_UnLockCalculation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GTS_UnLockCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GTS_UnLockCalculationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>