GTS.Clock.Business/Service References/TMIFunctionServiceRefrence/Function.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Function" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://additionalservices.tehran.iri:6502/Function.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://additionalservices.tehran.iri:6502/Function.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://additionalservices.tehran.iri:6502/Function.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPayroll" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFunction_InsertJson_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertJson" />
  </wsdl:message>
  <wsdl:message name="IFunction_InsertJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IFunction_InsertList_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertList" />
  </wsdl:message>
  <wsdl:message name="IFunction_InsertList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertListResponse" />
  </wsdl:message>
  <wsdl:portType name="IFunction">
    <wsdl:operation name="InsertJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunction/InsertJson" message="tns:IFunction_InsertJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunction/InsertJsonResponse" message="tns:IFunction_InsertJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunction/InsertList" message="tns:IFunction_InsertList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunction/InsertListResponse" message="tns:IFunction_InsertList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFunction" type="tns:IFunction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertJson">
      <soap:operation soapAction="http://tempuri.org/IFunction/InsertJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertList">
      <soap:operation soapAction="http://tempuri.org/IFunction/InsertList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Function">
    <wsdl:port name="BasicHttpBinding_IFunction" binding="tns:BasicHttpBinding_IFunction">
      <soap:address location="http://additionalservices.tehran.iri:6502/Function.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>