GTS.Clock.Business/Service References/TMIFunctionServiceRefrence/Function1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPayroll" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPayroll" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPoCoTempPersonnelFunction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PoCoTempPersonnelFunction" nillable="true" type="tns:PoCoTempPersonnelFunction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoCoTempPersonnelFunction" nillable="true" type="tns:ArrayOfPoCoTempPersonnelFunction" />
  <xs:complexType name="PoCoTempPersonnelFunction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentServiceLocationId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DeservedFunctionInHoliday" type="xs:int" />
      <xs:element minOccurs="0" name="DeservedFunctionOutHoliday" type="xs:int" />
      <xs:element minOccurs="0" name="FunctionDay" type="xs:int" />
      <xs:element minOccurs="0" name="HolidayFunctionDay" type="xs:decimal" />
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganId" type="xs:long" />
      <xs:element minOccurs="0" name="PaylessDay" type="xs:int" />
      <xs:element minOccurs="0" name="PersonnelAbsence" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelFunctionDay" type="xs:int" />
      <xs:element minOccurs="0" name="PersonnelHourPresent" type="xs:int" />
      <xs:element minOccurs="0" name="PersonnelIllnessDay" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelMissionHours" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelNightWorkDay" type="xs:int" />
      <xs:element minOccurs="0" name="PersonnelNightWorkHours" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelNoEnter" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelOverTimeHours" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelWorkingHolidays" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonnelWorkingHolidaysDay" type="xs:int" />
      <xs:element minOccurs="0" name="PostType" type="xs:int" />
      <xs:element minOccurs="0" name="RealFunctionDay" type="xs:decimal" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoCoTempPersonnelFunction" nillable="true" type="tns:PoCoTempPersonnelFunction" />
</xs:schema>