Atlas/App_WebReferences/OnlineTrafficsServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlineTrafficsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOnlineTrafficsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GTS.Clock.OnlineTrafficsServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlineTrafficsService_InitializeClient_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeClient" />
  </wsdl:message>
  <wsdl:message name="IOnlineTrafficsService_InitializeService_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeService" />
  </wsdl:message>
  <wsdl:message name="IOnlineTrafficsService_SendTrafficProxy_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTrafficProxy" />
  </wsdl:message>
  <wsdl:message name="IOnlineTrafficsService_RecieveTrafficProxy_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveTrafficProxy" />
  </wsdl:message>
  <wsdl:portType name="IOnlineTrafficsService">
    <wsdl:operation name="InitializeClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineTrafficsService/InitializeClient" message="tns:IOnlineTrafficsService_InitializeClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeService">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineTrafficsService/InitializeService" message="tns:IOnlineTrafficsService_InitializeService_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTrafficProxy">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineTrafficsService/SendTrafficProxy" message="tns:IOnlineTrafficsService_SendTrafficProxy_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveTrafficProxy">
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineTrafficsService/RecieveTrafficProxy" message="tns:IOnlineTrafficsService_RecieveTrafficProxy_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOnlineTrafficsService" type="tns:IOnlineTrafficsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOnlineTrafficsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InitializeClient">
      <soap12:operation soapAction="http://tempuri.org/IOnlineTrafficsService/InitializeClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InitializeService">
      <soap12:operation soapAction="http://tempuri.org/IOnlineTrafficsService/InitializeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendTrafficProxy">
      <soap12:operation soapAction="http://tempuri.org/IOnlineTrafficsService/SendTrafficProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecieveTrafficProxy">
      <soap12:operation soapAction="http://tempuri.org/IOnlineTrafficsService/RecieveTrafficProxy" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineTrafficsService">
    <wsdl:port name="NetTcpBinding_IOnlineTrafficsService" binding="tns:NetTcpBinding_IOnlineTrafficsService">
      <soap12:address location="net.tcp://localhost:8733/OnlineTrafficsService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/OnlineTrafficsService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>